* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    scroll-behavior: smooth;   
}
a {
    text-decoration: none;
    color: black;
}
.header-band {
    /* align-items: center; */
    display: flex;
    cursor: pointer;
    gap: 3%;
    width: 22%;
    padding-left: 15px;
    margin-right: 1rem;
    padding-top: 1.8rem;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;

}
.header-band p {
    margin: 0 0 0 4px;
    font-weight: 700;
    letter-spacing: normal;

}
.header {
    background-color: #271756 !important;
    width: 100%;
    height: 95px;
    display: block;
}
.header-nav a {
    color: white;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.16px;
    text-decoration: none;
    padding: 20px;
} 
.header-nav {
    
    list-style-type: none;
    display: flex;
    float: right;
    overflow: hidden;
    text-align: center;
   position: absolute;
    top: 35px;
    right: 50px;
}
.nav {
    /* margin-top: 15px; */
    padding: 35px;
}
.nav-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.nav-content a {
    text-decoration: none;
    padding: 10px 25px;
    margin-top: 20px; 
}
.aa {
    /* padding: 10px 25px; */
    padding-top: 11px;
    border-top: 3px solid rgb(194, 194, 10);
    background-color: #F6F6F6;
}
 .nav-content a:hover {
    background-color: rgb(213, 202, 202);
  }

  .news-left img {
    width: 656px;
    height: 452px;
  }
  .news-right {
    display: flex;
    font-size: 32px;
    align-items: center;
  }

.news-baner {
    position: relative;
    width: 1490px;
    height: 638px;
    background-color: #FACB01;
}
.mySlides {
    position: absolute;
    width: 1312px;
    height: 452px;
    display: none;
    left: 70px;
    top: 95px;
}
.news-baner h4 {
    font-size: 42px;
    margin-left: 70px;
    padding-top: 20px;  
}
.main-content {
    margin: 0 57px;
    padding: 0 16px;
}
.body-task {
    list-style-type: none;
    display: flex;
}
.grid {
    display: flex;
}
.boloc {
    width: 310px;
    height: auto;
    line-height: 1.5;
}
.body-content img {
    width: 140px;
    height: 103px;
}
.body-content {
    width: 976px;
    height: auto;
}
.body-text h6 {
    font-size: 16px;
    margin-left: 10px;
}
.text-color {
    color: gray;
    margin-top: 8px;
    font-style: italic;

}
.body-text {
    display: flex;
    align-items: center;
    padding: 32px;
    border-bottom: 1px solid gray;
}
.top-content {
    margin: 10px 0;
    padding: 20px 0 ;
}
.body-task li {
    margin-right: 10px;
}
.boloc h6 {
    font-size: 18px;
    margin-bottom: 10px;
}
.input {
   padding: 20px;
    margin: 15px 0;
width: 304px;
height: 48px;
border : none ;
outline: none;
background-color: rgb(240, 240, 240);
border-bottom: 1px solid gray;
}
.submit1 {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 15px;
}
.submit1 button {
    padding: 12px 40px ;
}
.news-list {
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.news-list li {
    padding: 10px 20px;
    margin: 30px 0;
}
.news-list li:hover {
    background-color: rgb(193, 193, 193);
}

.first-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px;
    width: 420px;

}
.footer {
    width: 100%;
    background-color: #271756;
    color: white;
    display: flex;
    padding: 32px 0;
}
.brand {
    display: flex;
    align-items: center;
}
.first-row-section {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 32px;
    width: 260px;
    height: 100px;
}
.footer-row {
    display: flex;
    margin: 0 -16px;    

}
.second-row-space {
    width: 420px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.second-row-section {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 16px;
    width: 260px;
    height: 167px;
}
.items-list {
    gap: 12px;
    font-size: 16px;
    color: #c6c6c6;
    line-height: 1.4;
}
.wapper {
    width: 1168px;
    gap: 32px;
    margin: auto;
}
.separate {
    background-color: #e0e0e0;
    height: 0.5px;
    width: 100%;
}
.third-row-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
}
.policy {
    margin-left: 450px;
    display: flex;
    gap: 32px;
}
.footer a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    background-color: #FACB01;
    color: black;
    border: none;
    padding: 13px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #scrollTopBtn:hover {
    background-color: #b3a700;
  }